extends layout

block content
  div.container
    div.row.align-center.oblique-parent#oblique-header
      div.column.small-12.align-center
        p.text-center#headline Two roads diverged in a wood,
      img(src="/images/facebook_profile_compressed.png")#profile-icon
      div.oblique
      
      
    div.row.small-8.medium-6.align-spaced
      div.column.small-12.align-center
        h1 ROY TANG
      div
        img(src="/images/developer.png").info-icon
      div 
        img(src="/images/swift.png").info-icon
      div
        img(src="/images/hongkonger.png").info-icon
        
    div.row.align-center.self-description-view
      div.column.small-12.medium-4.col-left
        p Hello, I am Roy Tang.
          br
          |iOS mobile developer &  freelancer
          br
          |based in Hong Kong.
          br
          br
          |expected to graduate in 2017
  
      div.column.small-12.medium-3.col-right
        p Co-founder of Sensbeat Ltd, a Hong Kong local social media startup.
          br
          br
          |With 3 years experience of developing iOS application, I participated in serveral business projects in U.S, Japan, Hong Kong and China.
          br
          br
          |Currently working as a remote iOS mobile developer for a fast growing startup based in Japan.
          
      div.column.small-12.medium-3.col-right
        p I also an amateur 3D artists, full stack developer, photographer.
          br
          br
          |I like Japanese culture 🇯🇵 and do speak some Japanese (N4).
      
    div.row.align-center
      div.column.small-12.align-center
        h1 STORIES
          
    div.row.align-center.oblique-parent.timeline-wrapper
      div.row.small-12.align-center
        span.title-label Eduation
      div.row.small-12.align-center
        span.timeline-stroke(style="height:254px;")
          span.red-dot(style="top:65px;")
          span#education.timeline-item
            h2 BBA in General Business Management
              br
              |BEng in Computer Science
            p 
              | 2012 - 2017
              br
              | HK University of Science and Technology
      div.row.small-12.align-center
        span.title-label Experience
        
      div.row.small-12.align-center
        span.timeline-stroke(style="height:610px;")
          span.red-dot(style="top:65px;")
          span#experience-sensbeat.timeline-item
            h2 Sensbeat Ltd.
              br
              | Hong Kong
            p 
              | 2012 - 2017
              br
              | Co-founding team member
              br
              |  iOS Software Engineer
              br
              |  Lead Mobile Developer
  
          span.red-dot(style="top:287px;")
          span#experience-plugnplay.timeline-item
            h2 Plug and Play Accelerator Program
              br
              | Silicon Valley, CA, United States
            p 
              | 2015
              br
              | Incubatee
              br
              | iOS Software Engineer
              
          span.red-dot(style="top:456px;")
          span#experience-vivivit.timeline-item
            h2 Vivivit Inc. 株式会社ビビビット
              br
              | Tokyo, Japan
            p 
              | 2012 - Present
              br
              | iOS Software Engineer
              
      div.row.small-12.align-center
        span.title-label Projects
      div.oblique
      
    div.row.align-center
      div.column.small-12.align-center
          h1 PROJECTS
