.device-mockup(data-device='iphone6', data-orientation='portrait', data-color='white')
  .device
    .screen
      // PUT CONTENTS HERE
      block 
        screen
    .button
      // You can hook the "home button" to some JavaScript events or just remove it
