doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/iosdevices.min.css" type="text/css")
    meta(name="viewport" content="width=device-width")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700", rel="stylesheet")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  body
    block content
    
    script(type="text/javascript").
      $('.collapsible-control').click(function(e) {
        e.preventDefault();
        console.log($(this).prev(".collapsible"));
        
        var block = $(this).prev(".collapsible[data-collapsed='collapse']");
        
        $(block).attr("data-collapsed", "expand");
        $(this).fadeOut();
        //- $(this).prev(".collapsible").hide();
      });
      
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86723720-1', 'auto');
      ga('send', 'pageview');
