div.column-no-gutter.small-12.medium-12.large-12
  div.column-no-gutter.small-12.large-12.project-cover-container
    img.project-cover(src="/images/project_sensbeat_cover.png")
    p.img-caption Sensbeat team are cool kids
    
  div.column.project_container
    div.column.small-12.large-12
      h3 Sensbeat - Startup
      p I joined Sensbeat team when I was just year one in university. All my stories begin from <strong>Sensbeat</strong>. It is, and will always be, the most important memory in my life.
      p.quote “Two road diverged in a wood and i took the one less traveled by and that has made all the difference.”
      p Many new opportunities opened up here, and that's make me a not-so-university student - we fighted for fundings, traveled thousands miles from home to explore new opportunties,
        | worked, iterated over and over to see how far we could be.
      p Originally joined the team as an intern, soon after I picked up the mobile application development, I become one of the co-founding team members.
        | It's not very common for university students in Hong Kong to commit a Full-time position, especially startup, because there are so many things to sacrifice - Grades, and more grades.
        | I can't remember how many semesters are ended with merely passing grade like 1.x 2.x.
        
      p Gaining some traction in Hong Kong, we secured not only fundings but also some advisors from U.S, which later encouraged us to explore to foreign market.
      
      h3 Landing in Silicon Valley - Plug & Play Accelerator Program
      img(src="/images/san_fran.jpg").float-center
      p.img-caption exploring San Franciso
      
      p In mid 2015, we got enroled as an incubatee into <a href="http://plugandplaytechcenter.com/" target="_blank">Plug and Play Accelerator Program</a> 🎉
        | It's a new journey for Sensbeat and all of our teammates.
      p
    
      h3 OMV - Film Your Music Video, with Lyrics
      p OMV was started as a side-project back to the time staying in Silicon Valley. Inspired by the success of Musical.ly, I believe
        | music video and lyrics would be an excellent combination for users in Asia especially countries speaking Chinese.
        
      p I quickly formed a team of two to fast prototyping the product in 3 weeks. Different from Sensbeat main product, OMV was
        | entirely developed in <strong>Swift</strong>. 
        
      p OMV leveraged heavily on AVFoudation framework which is built with iOS SDK, as well as GPUImage, Alamofire, PromiseKit, and a number of open source libraries.

    div.column.small-12
    <div class="css-device css-device--mobile">
    <img class="css-device__image" src="images/omv_screen_2.jpg">
    </div>
    br
    
    p Soon after the prototyping success and positive feedbacks from lead users, Sensbeat decided to pivot to OMV app.
    p OMV somehow gained a good traction in China which grow 50% in 3 iterations with 70k downloads on app store.
    
    br

    div.column.small-12
      span.secondary.label Startup
      span.secondary.label iOS
      span.secondary.label Swift
      span.secondary.label Silicon Valley
    hr
